{% extends "base.html.twig" %}
{% block ariane %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
    <li class="breadcrumb-item" href="{{ path('agent_index') }}">Agent</li>
    <li class="breadcrumb-item active">Agent</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h3>Espace personnalisée [Agent : {{ agent.nom }}]</h3>
                </div>
                <div class="form-group">
                    <div class="form-control">
                        <button data-toggle="modal" data-target="#modal_new" class="btn btn-primary">Ajouter nouvelle traduction</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="liste_agent">
                    <thead>
                    <tr>
                        <th>Locale</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for espace in espaces %}
                        <tr>
                            <td>
                                {{ espace.locale.libelle }}
                            </td>
                            <td>
                                <button data-toggle="modal" data-target="#modal_show_{{ espace.id }}" class="fa fa-eye"></button>
                                <button data-toggle="modal" data-target="#modal_edit_{{ espace.id }}" class="fa fa-pencil"></button>
                                <button type="button" data-toggle="modal" data-target="#modal_{{ espace.id }}"style="color: red !important;" class="fa fa-trash"></button>

                                <div class="modal" tabindex="-1" role="dialog" id="modal_{{ espace.id }}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirmer la suppression</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Voulez-vous vraiment supprimer cette translation ? L'action est irreversible</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger" href="{{ path('espace_delete', {'id':espace.id}) }}">Confirmer</a>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal" tabindex="-1" role="dialog" id="modal_show_{{ espace.id }}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                <div class="modal" tabindex="-1" role="dialog" id="modal_edit_{{ espace.id }}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal_new">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouvelle translation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'AppBundle:AgentTranslation:new', {'id': agent.id}
                )) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#liste_agent').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}