{% extends 'base.html.twig' %}

{% block body %}
    <h1>Espacepersonnalise</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ espacePersonnalise.id }}</td>
            </tr>
            <tr>
                <th>Passiontitre</th>
                <td>{{ espacePersonnalise.passionTitre }}</td>
            </tr>
            <tr>
                <th>Passioncontenu</th>
                <td>{{ espacePersonnalise.passionContenu }}</td>
            </tr>
            <tr>
                <th>Destinationtitre</th>
                <td>{{ espacePersonnalise.destinationTitre }}</td>
            </tr>
            <tr>
                <th>Destinationcontenu</th>
                <td>{{ espacePersonnalise.destinationContenu }}</td>
            </tr>
            <tr>
                <th>Formationtitre</th>
                <td>{{ espacePersonnalise.formationTitre }}</td>
            </tr>
            <tr>
                <th>Formationcontenu</th>
                <td>{{ espacePersonnalise.formationContenu }}</td>
            </tr>
            <tr>
                <th>Cursusfr</th>
                <td>{{ espacePersonnalise.cursusFr }}</td>
            </tr>
            <tr>
                <th>Cursussolidaire</th>
                <td>{{ espacePersonnalise.cursusSolidaire }}</td>
            </tr>
            <tr>
                <th>Cursusen</th>
                <td>{{ espacePersonnalise.cursusEn }}</td>
            </tr>
            <tr>
                <th>Signaturetel</th>
                <td>{{ espacePersonnalise.signatureTel }}</td>
            </tr>
            <tr>
                <th>Signaturehorairetravail</th>
                <td>{{ espacePersonnalise.signatureHoraireTravail }}</td>
            </tr>
            <tr>
                <th>Signaturevisuel</th>
                <td>{{ espacePersonnalise.signatureVisuel }}</td>
            </tr>
            <tr>
                <th>Phrase</th>
                <td>{{ espacePersonnalise.phrase }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('espacepersonnalise_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('espacepersonnalise_edit', { 'id': espacePersonnalise.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
