

{% block body %}
    <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info-active">
            <h3 class="widget-user-username">Agence[{{ agence.nom }}]</h3>
            <h6> tel : {{ agence.telephone }}</h6>
        </div>
        <div class="widget-user-image">
            <img class="img-circle elevation-8" src="{{ asset('images/agence/'~agence.photo) }}" alt="Photo de l'agence" style="width: 100px !important; height: 100px !important; border-radius: 70% !important;">
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header">Siret</h5>
                        <span class="description-text">{{ agence.siret }}</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header">Email</h5>
                        <span class="description-text">{{ agence.email }}</span>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="description-block">
                        <h5 class="description-header">Zone chalandises</h5>
                        <ul>
                            {% for dep in agence.departementid %}
                                <li>{{ dep.libelle }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
